<!DOCTYPE html>
<html>
  <head>
    <title>The Best Places on Earth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"> let myRestaurants = [<%- restaurants %>] </script>
    
  </head>
  <body>
    <div class="container">
      </div>
      <div class="info">
        <h3>List all restaurants</h3>
        <a href="/new">Add new restaurant</a>

        <ul>
          <% restaurants.forEach((restaurant) => { %>

            <li>
              <a href="/<%= restaurant._id%>">
                <%= restaurant.name%><span><%= restaurant.description %></span>
              </a>
               |
              <a href="/<%= restaurant._id%>/edit">Edit</a>
               |
              <a href="/<%= restaurant._id%>/delete">Delete</a>
            </li>
          <% }) %>
        </ul>
      </div>
      <div id="map"></div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRAy8GNwikqlf1dcb-2FRzWrZtJwdGAuY"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>

  </body>
</html>
